$colors: (
  primary: (
    100: hsl(223, 60%, 74%),
    200: hsl(223, 60%, 66%),
    300: hsl(223, 60%, 58%),
    400: hsl(223, 60%, 50%),
    500: hsl(223, 60%, 42%),
  ),
  secondary: (
    100: hsl(157, 60%, 54%),
    200: hsl(157, 60%, 48%),
    300: hsl(157, 60%, 42%),
    400: hsl(157, 60%, 36%),
    500: hsl(157, 60%, 30%),
  ),
  tertiary: (
    100: hsl(356, 100%, 84%),
    200: hsl(356, 100%, 76%),
    300: hsl(356, 90%, 68%),
    400: hsl(356, 80%, 60%),
    500: hsl(356, 70%, 52%),
  ),
  background: (
    200: hsl(209, 100%, 100%),
    100: hsl(209, 100%, 95%),
    300: hsl(209, 100%, 91%),
    400: hsl(209, 100%, 88%),
    500: hsl(209, 100%, 85%),
  ),
  dark: (
    100: hsl(0, 0%, 45%),
    200: hsl(0, 0%, 35%),
    300: hsl(0, 0%, 25%),
    400: hsl(0, 0%, 20%),
    500: hsl(0, 0%, 15%),
  ),
  light: (
    100: hsl(0, 0%, 95%),
    200: hsl(0, 0%, 85%),
    300: hsl(0, 0%, 75%),
    400: hsl(0, 0%, 65%),
    500: hsl(0, 0%, 55%),
  ),
)