@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

// Palette
$primary: #2B50AA;
$secondary: #2baa7a;
$tertiary: #ff858d;
$dark: #272727;
$light: #f6f8ffff;

// Primary font-family
$primary-font: 'Montserrat', sans-serif;