$type-scale: (
  sm:(
    300: 1rem,
    400: 1.125rem,
    500: 1.563rem,
    600: 1.953rem,
    700: 2.441rem,
    800: 3.052rem),
  md:(
    300: 1rem,
    400: 1.275rem,
    500: 1.782rem,
    600: 2.39rem,
    700: 3.221rem,
    800: 4.353rem),
  lg:(
    300: 1rem,
    400: 1.425rem,
    500: 2rem,
    600: 2.827rem,
    700: 4rem,
    800: 5.653rem),
  xl:(
    300: 1rem,
    400: 1.575rem,
    500: 2.219rem,
    600: 3.264rem,
    700: 4.780rem,
    800: 6.954rem),
  );